upstream essi_app {
  server app:3000;
}

upstream essi_iiif {
  server cantaloupe:8182;
}

map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}

server {
  client_max_body_size 200M;

  listen 8980;

  location / {
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_set_header        Upgrade $http_upgrade;
    proxy_set_header        Connection $connection_upgrade;

    # Fix the "It appears that your reverse proxy set up is broken" error.
    proxy_pass          http://essi_app;
    proxy_read_timeout  90;

    proxy_redirect      http://essi_app /;
  }

  location /iiif/2 {
    proxy_pass http://essi_iiif;

    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;
#    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-Path /;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_redirect http://essi_iiif:8182/ /iiif/2;
  }
}
