<div class="search-results-title-row">
  <h4 class="search-result-title">
    <%= link_to document.title_or_label, params['q'].present? ? [document, query: CGI.escape(params['q'])] : document %>
  </h4>
</div>
