/*
 * for structure editor drag-and-drop interface
 * overrides style from stock Hyrax dashboard.scss:222-246
*/
.dashboard {
  .structure {
    float: inherit;

    .panel-heading,
    .panel-footer,
    .panel-body,
    .list-group-item {
      float: inherit;
    }
  }
  [data-action="file-manager"] {
    .panel-heading {
      color: #333333;
      background-color: #f5f5f5;
      border-color: #ddd;
      float:none;
    }

    .file-manager-attributes {
      width: 100%;
    }

    li div.panel .member_resource_options {
      float: inherit;
      margin-top: 0;
      padding-top: 0;

      span.radio:first-of-type {
        margin-top: 0;
      }

      input[type=radio] {
        position: absolute;
      }
    }
  }
}

// enforces hyrax fixedsticky class with greater CSS specificity
div.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
