/*
 * for structure editor drag-and-drop interface
 * overrides style from stock Hyrax dashboard.scss:222-246
*/
.dashboard {
  .structure {
    float: inherit;

    .panel-footer,
    .panel-body,
    .list-group-item {
      float: inherit;
    }
  }
  .panel-heading {
     color: #333333;
     background-color: #f5f5f5;
     border-color: #ddd;

     float:none !important;
  }

}
