.viewer_iiif {
  height: 800px;
  padding: 10px;
}

.fullscreen {
  position: absolute;
  height: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.link_font {
  font-size: 18px !important;
}