OCR: <%= ocr_check(node.id) %>
<div class="form-group radio_buttons file-manager-attributes">
  <span class="radio">
    <% if node.model_name.singular == "file_set" %>
      <%= f.input :viewing_hint, collection: [:"", :"non-paged", :"facing-pages"], as: :radio_buttons, label: false, defaults: { input_html: { class: 'radio_buttons' }}%>
    <% end %>
  </span>
</div>
