  <div class="list-group">
    <div class="list-group-item">
      <fieldset>
        <legend class="legend-save-work">Sorting</legend>
        <div class="text-center">
          <%= button_tag t('.sort_alphabetically'), class: "btn btn-default", data: { action: "alpha-sort-action" } %>
        </div>
      </fieldset>
    </div>

    <%= render "file_manager_resource_form" %>
  </div>
  <div class="actions panel-footer text-center">
    <%= button_tag t('.save'), class: "btn btn-primary disabled", data: { action: "save-actions" } %>
  </div>
